<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fea.project.dao.util.UniqueCheckMapper">

    <select id="selectCurrentParamHasUseNo" parameterType="com.fea.project.model.util.UniqueCheckModel"
            resultType="int">
        select count(1) from ${tableName}
        where ${checkFieldName} = #{checkFieldValue}
        <if test="pkValue != null">
            and ${primaryName} != #{pkValue}
        </if>
        <if test="conditionParamModelList != null and conditionParamModelList.size() != 0">
            <foreach collection="conditionParamModelList" item="item">
                and ${item.fieldName} = ${item.fieldValue}
            </foreach>
        </if>
    </select>

</mapper>