<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fea.project.dao.appendix.ProjectAppendixMapper">
    <resultMap id="BaseResultMap" type="com.fea.project.model.appendix.ProjectAppendixModel">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="real_name" jdbcType="VARCHAR" property="realName" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="business_id" jdbcType="BIGINT" property="businessId" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="del_status" jdbcType="INTEGER" property="delStatus" />
        <result column="file_size" jdbcType="VARCHAR" property="fileSize" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, real_name, url, business_id, create_by, create_time, update_by, update_time,
        del_status, file_size
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * 
        from t_project_appendix
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_project_appendix
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deleteByBusinessId" parameterType="java.lang.Long">
        delete from t_project_appendix
        where business_id = #{businessId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from t_project_appendix
        where id in 
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" keyProperty="id" parameterType="com.fea.project.model.appendix.ProjectAppendixModel">
        insert into t_project_appendix (
        <include refid="Base_Column_List" />
        )
        values (
            #{id,jdbcType=BIGINT},
            #{name,jdbcType=VARCHAR},
            #{realName,jdbcType=VARCHAR}, 
            #{url,jdbcType=VARCHAR}, 
            #{businessId,jdbcType=BIGINT}, 
            #{createBy,jdbcType=VARCHAR}, 
            #{createTime,jdbcType=TIMESTAMP}, 
            #{updateBy,jdbcType=VARCHAR}, 
            #{updateTime,jdbcType=TIMESTAMP}, 
            #{delStatus,jdbcType=INTEGER}, 
            #{fileSize,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertList" parameterType="java.util.List" keyProperty="id">
        insert into t_project_appendix (
        <include refid="Base_Column_List" />
        ) values 
        <foreach collection="list" index="index" item="item" separator=",">
            (
                #{item.id,jdbcType=BIGINT},
                #{item.name,jdbcType=VARCHAR},
                #{item.realName,jdbcType=VARCHAR},
                #{item.url,jdbcType=VARCHAR}, 
                #{item.businessId,jdbcType=BIGINT}, 
                #{item.createBy,jdbcType=VARCHAR}, 
                #{item.createTime,jdbcType=TIMESTAMP}, 
                #{item.updateBy,jdbcType=VARCHAR}, 
                #{item.updateTime,jdbcType=TIMESTAMP}, 
                #{item.delStatus,jdbcType=INTEGER}, 
                #{item.fileSize,jdbcType=VARCHAR}
                )
        </foreach>
    </insert>

    <select id="selectByModel" parameterType="com.fea.project.model.appendix.ProjectAppendixModel" resultMap="BaseResultMap">
        select * from t_project_appendix
        where del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
        <if test="id != null">
            and id = #{id,jdbcType=BIGINT}
        </if>
        <if test="name != null">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="realName != null">
            and real_name = #{realName,jdbcType=VARCHAR}
        </if>
        <if test="url != null">
            and url = #{url,jdbcType=VARCHAR}
        </if>
        <if test="businessId != null">
            and business_id = #{businessId,jdbcType=BIGINT}
        </if>
        <if test="createBy != null">
            and create_by = #{createBy,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateBy != null">
            and update_by = #{updateBy,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="fileSize != null">
            and file_size = #{fileSize,jdbcType=VARCHAR}
        </if>
    </select>

    <insert id="insertSelective" keyProperty="id" parameterType="com.fea.project.model.appendix.ProjectAppendixModel">
        insert into t_project_appendix
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="businessId != null">
                business_id,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="delStatus != null">
                del_status,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="businessId != null">
                #{businessId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delStatus != null">
                #{delStatus,jdbcType=INTEGER},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="com.fea.project.model.appendix.ProjectAppendixModel">
        update t_project_appendix
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="businessId != null">
                business_id = #{businessId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delStatus != null">
                del_status = #{delStatus,jdbcType=INTEGER},
            </if>
            <if test="fileSize != null">
                file_size = #{fileSize,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </update>

    <update id="updateById" parameterType="com.fea.project.model.appendix.ProjectAppendixModel">
        update t_project_appendix
        set name = #{name,jdbcType=VARCHAR},
            real_name = #{realName,jdbcType=VARCHAR},
            url = #{url,jdbcType=VARCHAR},
            business_id = #{businessId,jdbcType=BIGINT},
            create_by = #{createBy,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_by = #{updateBy,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            del_status = #{delStatus,jdbcType=INTEGER},
            file_size = #{fileSize,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </update>

    <select id="selectByBusinessId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_project_appendix
        where business_id = #{businessId,jdbcType=BIGINT}
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </select>

    <update id="updateByBusinessIdAndIds">
        update t_project_appendix
        set  business_id = #{businessId,jdbcType=BIGINT}
        where id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </update>

    <update id="updateDeleteStatueByBusinessIdAndIds">
        update t_project_appendix
        set del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@DELETE.getStatus()}
        where business_id = #{businessId,jdbcType=BIGINT}
        <if test="list.size() != 0">
            and id not in
            <foreach collection="list" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </update>
<!--通过业务id查询附件的id和文件名称-->
    <select id="selectIdAndNameByBusiness"
            resultType="com.fea.project.model.plan.vo.AppendixIdAndNameInfoModelVo">
        select
        id as appendixId,
        real_name as appendixName
        from t_project_appendix
        where del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
        and business_id = #{businessId,jdbcType=BIGINT}
    </select>
</mapper>