<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fea.project.dao.interflow.ProjectInterflowVisitingMapper">
    <resultMap id="BaseResultMap" type="com.fea.project.model.interflow.ProjectInterflowVisitingModel">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="way" jdbcType="INTEGER" property="way" />
        <result column="contact_type" jdbcType="INTEGER" property="contactType" />
        <result column="contact_id" jdbcType="BIGINT" property="contactId" />
        <result column="visit_times" jdbcType="VARCHAR" property="visitTimes" />
        <result column="times" jdbcType="VARCHAR" property="times" />
        <result column="details" jdbcType="VARCHAR" property="details" />
        <result column="create_id" jdbcType="BIGINT" property="createId" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_id" jdbcType="BIGINT" property="updateId" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="del_states" jdbcType="INTEGER" property="delStates" />
        <result column="project_id" jdbcType="BIGINT" property="projectId" />
        <result column="project_step" jdbcType="BIGINT" property="projectStep" />
        <result column="task_id" jdbcType="BIGINT" property="taskId" />
        <result column="depart_time" jdbcType="TIMESTAMP" property="departTime" />
        <result column="sign_in_time" jdbcType="TIMESTAMP" property="signInTime" />
        <result column="sign_out_time" jdbcType="TIMESTAMP" property="signOutTime" />
        <result column="back_time" jdbcType="TIMESTAMP" property="backTime" />
        <result column="depart_address" jdbcType="VARCHAR" property="departAddress" />
        <result column="sign_in_address" jdbcType="VARCHAR" property="signInAddress" />
        <result column="sign_out_address" jdbcType="VARCHAR" property="signOutAddress" />
        <result column="back_address" jdbcType="VARCHAR" property="backAddress" />
    </resultMap>

    <sql id="Base_Column_List">
        id, title, type, way, contact_type, contact_id, visit_times, times, details, create_id,
        create_by, create_time, update_id, update_by, update_time, del_states, project_id, 
        project_step, task_id, depart_time, sign_in_time, sign_out_time, back_time, depart_address, 
        sign_in_address, sign_out_address, back_address
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * 
        from t_project_interflow_visiting
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_project_interflow_visiting
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from t_project_interflow_visiting
        where id in 
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" keyProperty="id" parameterType="com.fea.project.model.interflow.ProjectInterflowVisitingModel">
        insert into t_project_interflow_visiting (
        <include refid="Base_Column_List" />
        )
        values (
            #{id,jdbcType=BIGINT},
            #{title,jdbcType=VARCHAR},
            #{type,jdbcType=INTEGER},
            #{way,jdbcType=INTEGER}, 
            #{contactType,jdbcType=INTEGER}, 
            #{contactId,jdbcType=BIGINT}, 
            #{visitTimes,jdbcType=VARCHAR}, 
            #{times,jdbcType=VARCHAR}, 
            #{details,jdbcType=VARCHAR}, 
            #{createId,jdbcType=BIGINT}, 
            #{createBy,jdbcType=VARCHAR}, 
            #{createTime,jdbcType=TIMESTAMP}, 
            #{updateId,jdbcType=BIGINT}, 
            #{updateBy,jdbcType=VARCHAR}, 
            #{updateTime,jdbcType=TIMESTAMP}, 
            #{delStates,jdbcType=INTEGER}, 
            #{projectId,jdbcType=BIGINT}, 
            #{projectStep,jdbcType=BIGINT}, 
            #{taskId,jdbcType=BIGINT}, 
            #{departTime,jdbcType=TIMESTAMP}, 
            #{signInTime,jdbcType=TIMESTAMP}, 
            #{signOutTime,jdbcType=TIMESTAMP}, 
            #{backTime,jdbcType=TIMESTAMP}, 
            #{departAddress,jdbcType=VARCHAR}, 
            #{signInAddress,jdbcType=VARCHAR}, 
            #{signOutAddress,jdbcType=VARCHAR}, 
            #{backAddress,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertList" keyProperty="id" parameterType="java.util.List">
        insert into t_project_interflow_visiting (
        <include refid="Base_Column_List" />
        ) values 
        <foreach collection="list" index="index" item="item" separator=",">
            (
                #{item.id,jdbcType=BIGINT},
                #{item.title,jdbcType=VARCHAR},
                #{item.type,jdbcType=INTEGER},
                #{item.way,jdbcType=INTEGER}, 
                #{item.contactType,jdbcType=INTEGER}, 
                #{item.contactId,jdbcType=BIGINT}, 
                #{item.visitTimes,jdbcType=VARCHAR}, 
                #{item.times,jdbcType=VARCHAR}, 
                #{item.details,jdbcType=VARCHAR}, 
                #{item.createId,jdbcType=BIGINT}, 
                #{item.createBy,jdbcType=VARCHAR}, 
                #{item.createTime,jdbcType=TIMESTAMP}, 
                #{item.updateId,jdbcType=BIGINT}, 
                #{item.updateBy,jdbcType=VARCHAR}, 
                #{item.updateTime,jdbcType=TIMESTAMP}, 
                #{item.delStates,jdbcType=INTEGER}, 
                #{item.projectId,jdbcType=BIGINT}, 
                #{item.projectStep,jdbcType=BIGINT}, 
                #{item.taskId,jdbcType=BIGINT}, 
                #{item.departTime,jdbcType=TIMESTAMP}, 
                #{item.signInTime,jdbcType=TIMESTAMP}, 
                #{item.signOutTime,jdbcType=TIMESTAMP}, 
                #{item.backTime,jdbcType=TIMESTAMP}, 
                #{item.departAddress,jdbcType=VARCHAR}, 
                #{item.signInAddress,jdbcType=VARCHAR}, 
                #{item.signOutAddress,jdbcType=VARCHAR}, 
                #{item.backAddress,jdbcType=VARCHAR}
                )
        </foreach>
    </insert>

    <select id="selectByModel" parameterType="com.fea.project.model.interflow.ProjectInterflowVisitingModel" resultMap="BaseResultMap">
        select * from t_project_interflow_visiting where 1 = 1
        <if test="title != null">
            and title = #{title,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
            and type = #{type,jdbcType=INTEGER}
        </if>
        <if test="way != null">
            and way = #{way,jdbcType=INTEGER}
        </if>
        <if test="contactType != null">
            and contact_type = #{contactType,jdbcType=INTEGER}
        </if>
        <if test="contactId != null">
            and contact_id = #{contactId,jdbcType=BIGINT}
        </if>
        <if test="visitTimes != null">
            and visit_times = #{visitTimes,jdbcType=VARCHAR}
        </if>
        <if test="times != null">
            and times = #{times,jdbcType=VARCHAR}
        </if>
        <if test="details != null">
            and details = #{details,jdbcType=VARCHAR}
        </if>
        <if test="createId != null">
            and create_id = #{createId,jdbcType=BIGINT}
        </if>
        <if test="createBy != null">
            and create_by = #{createBy,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateId != null">
            and update_id = #{updateId,jdbcType=BIGINT}
        </if>
        <if test="updateBy != null">
            and update_by = #{updateBy,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="delStates != null">
            and del_states = #{delStates,jdbcType=INTEGER}
        </if>
        <if test="projectId != null">
            and project_id = #{projectId,jdbcType=BIGINT}
        </if>
        <if test="projectStep != null">
            and project_step = #{projectStep,jdbcType=BIGINT}
        </if>
        <if test="taskId != null">
            and task_id = #{taskId,jdbcType=BIGINT}
        </if>
        <if test="departTime != null">
            and depart_time = #{departTime,jdbcType=TIMESTAMP}
        </if>
        <if test="signInTime != null">
            and sign_in_time = #{signInTime,jdbcType=TIMESTAMP}
        </if>
        <if test="signOutTime != null">
            and sign_out_time = #{signOutTime,jdbcType=TIMESTAMP}
        </if>
        <if test="backTime != null">
            and back_time = #{backTime,jdbcType=TIMESTAMP}
        </if>
        <if test="departAddress != null">
            and depart_address = #{departAddress,jdbcType=VARCHAR}
        </if>
        <if test="signInAddress != null">
            and sign_in_address = #{signInAddress,jdbcType=VARCHAR}
        </if>
        <if test="signOutAddress != null">
            and sign_out_address = #{signOutAddress,jdbcType=VARCHAR}
        </if>
        <if test="backAddress != null">
            and back_address = #{backAddress,jdbcType=VARCHAR}
        </if>
    </select>

    <insert id="insertSelective" keyProperty="id" parameterType="com.fea.project.model.interflow.ProjectInterflowVisitingModel">
        insert into t_project_interflow_visiting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="way != null">
                way,
            </if>
            <if test="contactType != null">
                contact_type,
            </if>
            <if test="contactId != null">
                contact_id,
            </if>
            <if test="visitTimes != null">
                visit_times,
            </if>
            <if test="times != null">
                times,
            </if>
            <if test="details != null">
                details,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="delStates != null">
                del_states,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="projectStep != null">
                project_step,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="departTime != null">
                depart_time,
            </if>
            <if test="signInTime != null">
                sign_in_time,
            </if>
            <if test="signOutTime != null">
                sign_out_time,
            </if>
            <if test="backTime != null">
                back_time,
            </if>
            <if test="departAddress != null">
                depart_address,
            </if>
            <if test="signInAddress != null">
                sign_in_address,
            </if>
            <if test="signOutAddress != null">
                sign_out_address,
            </if>
            <if test="backAddress != null">
                back_address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="way != null">
                #{way,jdbcType=INTEGER},
            </if>
            <if test="contactType != null">
                #{contactType,jdbcType=INTEGER},
            </if>
            <if test="contactId != null">
                #{contactId,jdbcType=BIGINT},
            </if>
            <if test="visitTimes != null">
                #{visitTimes,jdbcType=VARCHAR},
            </if>
            <if test="times != null">
                #{times,jdbcType=VARCHAR},
            </if>
            <if test="details != null">
                #{details,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delStates != null">
                #{delStates,jdbcType=INTEGER},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="projectStep != null">
                #{projectStep,jdbcType=BIGINT},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=BIGINT},
            </if>
            <if test="departTime != null">
                #{departTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signInTime != null">
                #{signInTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signOutTime != null">
                #{signOutTime,jdbcType=TIMESTAMP},
            </if>
            <if test="backTime != null">
                #{backTime,jdbcType=TIMESTAMP},
            </if>
            <if test="departAddress != null">
                #{departAddress,jdbcType=VARCHAR},
            </if>
            <if test="signInAddress != null">
                #{signInAddress,jdbcType=VARCHAR},
            </if>
            <if test="signOutAddress != null">
                #{signOutAddress,jdbcType=VARCHAR},
            </if>
            <if test="backAddress != null">
                #{backAddress,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="com.fea.project.model.interflow.ProjectInterflowVisitingModel">
        update t_project_interflow_visiting
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="way != null">
                way = #{way,jdbcType=INTEGER},
            </if>
            <if test="contactType != null">
                contact_type = #{contactType,jdbcType=INTEGER},
            </if>
            <if test="contactId != null">
                contact_id = #{contactId,jdbcType=BIGINT},
            </if>
            <if test="visitTimes != null">
                visit_times = #{visitTimes,jdbcType=VARCHAR},
            </if>
            <if test="times != null">
                times = #{times,jdbcType=VARCHAR},
            </if>
            <if test="details != null">
                details = #{details,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                update_id = #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delStates != null">
                del_states = #{delStates,jdbcType=INTEGER},
            </if>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=BIGINT},
            </if>
            <if test="projectStep != null">
                project_step = #{projectStep,jdbcType=BIGINT},
            </if>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=BIGINT},
            </if>
            <if test="departTime != null">
                depart_time = #{departTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signInTime != null">
                sign_in_time = #{signInTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signOutTime != null">
                sign_out_time = #{signOutTime,jdbcType=TIMESTAMP},
            </if>
            <if test="backTime != null">
                back_time = #{backTime,jdbcType=TIMESTAMP},
            </if>
            <if test="departAddress != null">
                depart_address = #{departAddress,jdbcType=VARCHAR},
            </if>
            <if test="signInAddress != null">
                sign_in_address = #{signInAddress,jdbcType=VARCHAR},
            </if>
            <if test="signOutAddress != null">
                sign_out_address = #{signOutAddress,jdbcType=VARCHAR},
            </if>
            <if test="backAddress != null">
                back_address = #{backAddress,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateById" parameterType="com.fea.project.model.interflow.ProjectInterflowVisitingModel">
        update t_project_interflow_visiting
        set title = #{title,jdbcType=VARCHAR},
            type = #{type,jdbcType=INTEGER},
            way = #{way,jdbcType=INTEGER},
            contact_type = #{contactType,jdbcType=INTEGER},
            contact_id = #{contactId,jdbcType=BIGINT},
            visit_times = #{visitTimes,jdbcType=VARCHAR},
            times = #{times,jdbcType=VARCHAR},
            details = #{details,jdbcType=VARCHAR},
            create_id = #{createId,jdbcType=BIGINT},
            create_by = #{createBy,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_id = #{updateId,jdbcType=BIGINT},
            update_by = #{updateBy,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            del_states = #{delStates,jdbcType=INTEGER},
            project_id = #{projectId,jdbcType=BIGINT},
            project_step = #{projectStep,jdbcType=BIGINT},
            task_id = #{taskId,jdbcType=BIGINT},
            depart_time = #{departTime,jdbcType=TIMESTAMP},
            sign_in_time = #{signInTime,jdbcType=TIMESTAMP},
            sign_out_time = #{signOutTime,jdbcType=TIMESTAMP},
            back_time = #{backTime,jdbcType=TIMESTAMP},
            depart_address = #{departAddress,jdbcType=VARCHAR},
            sign_in_address = #{signInAddress,jdbcType=VARCHAR},
            sign_out_address = #{signOutAddress,jdbcType=VARCHAR},
            back_address = #{backAddress,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <resultMap id="BaseResultMapVo" type="com.fea.project.model.interflow.vo.ProjectInterflowVisitingModelVo"
               extends="BaseResultMap">
        <result column="projectName" jdbcType="VARCHAR" property="projectName" />
        <result column="projectStepName" jdbcType="VARCHAR" property="projectStepName" />
        <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    </resultMap>
    <select id="selectModelVoById" parameterType="java.lang.Long" resultMap="BaseResultMapVo">
        select
        tpiv.*,
        tpp.name as projectName,
        tps.name as projectStepName,
        tptc.task_name
        from t_project_interflow_visiting as tpiv
        left join t_project_project as tpp on tpiv.project_id=tpp.id
        left join t_project_step as tps on tpiv.project_step=tps.id
        left join t_project_task_create as tptc on tpiv.task_id=tptc.task_id
        where tpiv.id = #{id,jdbcType=BIGINT}
    </select>
    <resultMap id="ListShowMap" type="com.fea.project.model.interflow.vo.ProjectInterflowListShowVo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="way" jdbcType="INTEGER" property="way" />
        <result column="sign_in_time" jdbcType="TIMESTAMP" property="interflowTime" />
        <result column="project_id" jdbcType="BIGINT" property="projectId" />
        <result column="project_step" jdbcType="BIGINT" property="projectStep" />
        <result column="task_id" jdbcType="BIGINT" property="taskId" />
        <result column="create_id" jdbcType="BIGINT" property="createId" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_id" jdbcType="BIGINT" property="updateId" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="projectName" jdbcType="BIGINT" property="projectName" />
        <result column="projectStepName" jdbcType="BIGINT" property="projectStepName" />
        <result column="task_name" jdbcType="BIGINT" property="taskName" />
    </resultMap>
    <select id="selectShowListByProjectId"
            parameterType="com.fea.project.model.BasePageInfo"
            resultMap="ListShowMap">
        select
        tpiv.*,
        tpp.name as projectName
        from t_project_interflow_visiting as tpiv
        left join t_project_project as tpp on tpiv.project_id=tpp.id
        where tpiv.del_states = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
        and tpiv.project_id = #{paramVo.projectId,jdbcType=BIGINT}
        <if test="paramVo.createIds !=null and paramVo.createIds.size()>0">
            and tpiv.create_id in
            <foreach collection="paramVo.createIds" item="item" open="(" close=")" separator=",">
                #{item,jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="paramVo.keywords != null and keywords !=''">
            and (
            tpiv.title like CONCAT('%', #{paramVo.keywords, jdbcType=VARCHAR}, '%')
            )
        </if>
        <if test="paramVo.filters != null">
            <if test="paramVo.filters.get('type') != null and paramVo.filters.get('type').size() > 0">
                and tpiv.type in
                <foreach collection="paramVo.filters.get('type')" item="item" open="(" close=")" separator=",">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="paramVo.filters.get('projectStep') != null and paramVo.filters.get('projectStep').size() > 0">
                and tpiv.project_step in
                <foreach collection="paramVo.filters.get('projectStep')" item="item" open="(" close=")" separator=",">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
        </if>
    </select>
</mapper>