<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fea.project.dao.interflow.ProjectInterflowMeetingMapper">
    <resultMap id="BaseResultMap" type="com.fea.project.model.interflow.ProjectInterflowMeetingModel">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="way" jdbcType="INTEGER" property="way" />
        <result column="project_id" jdbcType="BIGINT" property="projectId" />
        <result column="project_step" jdbcType="BIGINT" property="projectStep" />
        <result column="task_id" jdbcType="BIGINT" property="taskId" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="times" jdbcType="VARCHAR" property="times" />
        <result column="details" jdbcType="VARCHAR" property="details" />
        <result column="create_id" jdbcType="BIGINT" property="createId" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_id" jdbcType="BIGINT" property="updateId" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="del_states" jdbcType="INTEGER" property="delStates" />
        <result column="meeting_place" jdbcType="VARCHAR" property="meetingPlace" />
    </resultMap>

    <sql id="Base_Column_List">
        id, title, type, way, project_id, project_step, task_id, start_time, end_time, times,
        details, create_id, create_by, create_time, update_id, update_by, update_time, del_states,
        meeting_place
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from t_project_interflow_meeting
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_project_interflow_meeting
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from t_project_interflow_meeting
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" keyProperty="id" parameterType="com.fea.project.model.interflow.ProjectInterflowMeetingModel">
        insert into t_project_interflow_meeting (
        <include refid="Base_Column_List" />
        )
        values (
        #{id,jdbcType=BIGINT},
        #{title,jdbcType=VARCHAR},
        #{type,jdbcType=INTEGER},
        #{way,jdbcType=INTEGER},
        #{projectId,jdbcType=BIGINT},
        #{projectStep,jdbcType=BIGINT},
        #{taskId,jdbcType=BIGINT},
        #{startTime,jdbcType=TIMESTAMP},
        #{endTime,jdbcType=TIMESTAMP},
        #{times,jdbcType=VARCHAR},
        #{details,jdbcType=VARCHAR},
        #{createId,jdbcType=BIGINT},
        #{createBy,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateId,jdbcType=BIGINT},
        #{updateBy,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP},
        #{delStates,jdbcType=INTEGER},
        #{meetingPlace,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertList" keyProperty="id" parameterType="java.util.List">
        insert into t_project_interflow_meeting (
        <include refid="Base_Column_List" />
        ) values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.id,jdbcType=BIGINT},
            #{item.title,jdbcType=VARCHAR},
            #{item.type,jdbcType=INTEGER},
            #{item.way,jdbcType=INTEGER},
            #{item.projectId,jdbcType=BIGINT},
            #{item.projectStep,jdbcType=BIGINT},
            #{item.taskId,jdbcType=BIGINT},
            #{item.startTime,jdbcType=TIMESTAMP},
            #{item.endTime,jdbcType=TIMESTAMP},
            #{item.times,jdbcType=VARCHAR},
            #{item.details,jdbcType=VARCHAR},
            #{item.createId,jdbcType=BIGINT},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateId,jdbcType=BIGINT},
            #{item.updateBy,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.delStates,jdbcType=INTEGER},
            #{item.meetingPlace,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectByModel" parameterType="com.fea.project.model.interflow.ProjectInterflowMeetingModel" resultMap="BaseResultMap">
        select * from t_project_interflow_meeting where 1 = 1
        <if test="title != null">
            and title = #{title,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
            and type = #{type,jdbcType=INTEGER}
        </if>
        <if test="way != null">
            and way = #{way,jdbcType=INTEGER}
        </if>
        <if test="projectId != null">
            and project_id = #{projectId,jdbcType=BIGINT}
        </if>
        <if test="projectStep != null">
            and project_step = #{projectStep,jdbcType=BIGINT}
        </if>
        <if test="taskId != null">
            and task_id = #{taskId,jdbcType=BIGINT}
        </if>
        <if test="startTime != null">
            and start_time = #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            and end_time = #{endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="times != null">
            and times = #{times,jdbcType=VARCHAR}
        </if>
        <if test="details != null">
            and details = #{details,jdbcType=VARCHAR}
        </if>
        <if test="createId != null">
            and create_id = #{createId,jdbcType=BIGINT}
        </if>
        <if test="createBy != null">
            and create_by = #{createBy,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateId != null">
            and update_id = #{updateId,jdbcType=BIGINT}
        </if>
        <if test="updateBy != null">
            and update_by = #{updateBy,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="delStates != null">
            and del_states = #{delStates,jdbcType=INTEGER}
        </if>
        <if test="meetingPlace != null">
            and meeting_place = #{meetingPlace,jdbcType=VARCHAR}
        </if>
    </select>

    <insert id="insertSelective" keyProperty="id" parameterType="com.fea.project.model.interflow.ProjectInterflowMeetingModel">
        insert into t_project_interflow_meeting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="way != null">
                way,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="projectStep != null">
                project_step,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="times != null">
                times,
            </if>
            <if test="details != null">
                details,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="delStates != null">
                del_states,
            </if>
            <if test="meetingPlace != null">
                meeting_place,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="way != null">
                #{way,jdbcType=INTEGER},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="projectStep != null">
                #{projectStep,jdbcType=BIGINT},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=BIGINT},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="times != null">
                #{times,jdbcType=VARCHAR},
            </if>
            <if test="details != null">
                #{details,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delStates != null">
                #{delStates,jdbcType=INTEGER},
            </if>
            <if test="meetingPlace != null">
                #{meetingPlace,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="com.fea.project.model.interflow.ProjectInterflowMeetingModel">
        update t_project_interflow_meeting
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="way != null">
                way = #{way,jdbcType=INTEGER},
            </if>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=BIGINT},
            </if>
            <if test="projectStep != null">
                project_step = #{projectStep,jdbcType=BIGINT},
            </if>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=BIGINT},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="times != null">
                times = #{times,jdbcType=VARCHAR},
            </if>
            <if test="details != null">
                details = #{details,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                update_id = #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delStates != null">
                del_states = #{delStates,jdbcType=INTEGER},
            </if>
            <if test="meetingPlace != null">
                meeting_place = #{meetingPlace,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateById" parameterType="com.fea.project.model.interflow.ProjectInterflowMeetingModel">
        update t_project_interflow_meeting
        set title = #{title,jdbcType=VARCHAR},
            type = #{type,jdbcType=INTEGER},
            way = #{way,jdbcType=INTEGER},
            project_id = #{projectId,jdbcType=BIGINT},
            project_step = #{projectStep,jdbcType=BIGINT},
            task_id = #{taskId,jdbcType=BIGINT},
            start_time = #{startTime,jdbcType=TIMESTAMP},
            end_time = #{endTime,jdbcType=TIMESTAMP},
            times = #{times,jdbcType=VARCHAR},
            details = #{details,jdbcType=VARCHAR},
            create_id = #{createId,jdbcType=BIGINT},
            create_by = #{createBy,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_id = #{updateId,jdbcType=BIGINT},
            update_by = #{updateBy,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            del_states = #{delStates,jdbcType=INTEGER},
            meeting_place = #{meetingPlace,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <resultMap id="BaseResultMapVo" type="com.fea.project.model.interflow.vo.ProjectInterflowMeetingModelVo"
               extends="BaseResultMap">
        <result column="projectName" jdbcType="VARCHAR" property="projectName" />
        <result column="projectStepName" jdbcType="VARCHAR" property="projectStepName" />
        <result column="task_name" jdbcType="VARCHAR" property="taskName" />
        <association property="userIds" column="id"
                     select="com.fea.project.dao.interflow.ProjectInterflowMeetingUserMapper.selectUsersByMeetingId"/>
    </resultMap>
    <select id="selectModelVoById" parameterType="java.lang.Long" resultMap="BaseResultMapVo">
        select
        tpim.*,
        tpp.name as projectName,
        tps.name as projectStepName,
        tptc.task_name
        from t_project_interflow_meeting as tpim
        left join t_project_project as tpp on tpim.project_id=tpp.id
        left join t_project_step as tps on tpim.project_step=tps.id
        left join t_project_task_create as tptc on tpim.task_id=tptc.task_id
        where tpim.id = #{id,jdbcType=BIGINT}
    </select>
    <resultMap id="ListShowMap" type="com.fea.project.model.interflow.vo.ProjectInterflowListShowVo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="way" jdbcType="INTEGER" property="way" />
        <result column="start_time" jdbcType="TIMESTAMP" property="interflowTime" />
        <result column="project_id" jdbcType="BIGINT" property="projectId" />
        <result column="project_step" jdbcType="BIGINT" property="projectStep" />
        <result column="task_id" jdbcType="BIGINT" property="taskId" />
        <result column="create_id" jdbcType="BIGINT" property="createId" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_id" jdbcType="BIGINT" property="updateId" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="projectName" jdbcType="BIGINT" property="projectName" />
        <result column="projectStepName" jdbcType="BIGINT" property="projectStepName" />
        <result column="task_name" jdbcType="BIGINT" property="taskName" />
    </resultMap>
    <select id="selectShowListByProjectId"
            parameterType="com.fea.project.model.interflow.vo.QueryInterflowParamVo"
            resultMap="ListShowMap">
        select
        tpim.*,
        tpp.name as projectName,
        tps.name as projectStepName,
        tptc.task_name
        from t_project_interflow_meeting as tpim
        left join t_project_project as tpp on tpim.project_id=tpp.id
        left join t_project_step as tps on tpim.project_step=tps.id
        left join t_project_task_create as tptc on tpim.task_id=tptc.task_id
        where tpim.del_states = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
        and tpim.project_id = #{paramVo.projectId,jdbcType=BIGINT}
        <if test="paramVo.createIds !=null and paramVo.createIds.size()>0">
            and tpim.create_id in
            <foreach collection="paramVo.createIds" item="item" open="(" close=")" separator=",">
                #{item,jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="paramVo.keywords != null and keywords !=''">
            and (
            tpim.title like CONCAT('%', #{paramVo.keywords, jdbcType=VARCHAR}, '%')
            )
        </if>
        <if test="paramVo.filters != null">
            <if test="paramVo.filters.get('type') != null and paramVo.filters.get('type').size() > 0">
                and tpim.type in
                <foreach collection="paramVo.filters.get('type')" item="item" open="(" close=")" separator=",">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="paramVo.filters.get('projectStep') != null and paramVo.filters.get('projectStep').size() > 0">
                and tpim.project_step in
                <foreach collection="paramVo.filters.get('projectStep')" item="item" open="(" close=")" separator=",">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
        </if>
    </select>
</mapper>