<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fea.project.dao.config.ProjectConfigEstimateDevlierableMapper">
    <resultMap id="BaseResultMap" type="com.fea.project.model.config.ProjectConfigEstimateDevlierableModel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="deliverable_id" jdbcType="BIGINT" property="deliverableId"/>
        <result column="quality_estimate_weight" jdbcType="DECIMAL" property="qualityEstimateWeight"/>
        <result column="time_estimate_weight" jdbcType="DECIMAL" property="timeEstimateWeight"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del_status" jdbcType="INTEGER" property="delStatus"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, project_id, deliverable_id, quality_estimate_weight, time_estimate_weight, create_id,
        create_by, create_time, update_id, update_by, update_time, del_status
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * 
        from t_project_config_estimate_devlierable
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_project_config_estimate_devlierable
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from t_project_config_estimate_devlierable
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" keyProperty="id"
            parameterType="com.fea.project.model.config.ProjectConfigEstimateDevlierableModel">
        insert into t_project_config_estimate_devlierable (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{projectId,jdbcType=BIGINT},
        #{deliverableId,jdbcType=BIGINT},
        #{qualityEstimateWeight,jdbcType=DECIMAL},
        #{timeEstimateWeight,jdbcType=DECIMAL},
        #{createId,jdbcType=BIGINT},
        #{createBy,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateId,jdbcType=BIGINT},
        #{updateBy,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP},
        #{delStatus,jdbcType=INTEGER}
        )
    </insert>

    <insert id="insertList" parameterType="java.util.List">
        insert into t_project_config_estimate_devlierable (
        <include refid="Base_Column_List"/>
        ) values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.id,jdbcType=BIGINT},
            #{item.projectId,jdbcType=BIGINT},
            #{item.deliverableId,jdbcType=BIGINT},
            #{item.qualityEstimateWeight,jdbcType=DECIMAL},
            #{item.timeEstimateWeight,jdbcType=DECIMAL},
            #{item.createId,jdbcType=BIGINT},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateId,jdbcType=BIGINT},
            #{item.updateBy,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.delStatus,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <select id="selectByModel" parameterType="com.fea.project.model.config.ProjectConfigEstimateDevlierableModel"
            resultMap="BaseResultMap">
        select * from t_project_config_estimate_devlierable where 1 = 1
        <if test="id != null">
            and id = #{id,jdbcType=BIGINT}
        </if>
        <if test="projectId != null">
            and project_id = #{projectId,jdbcType=BIGINT}
        </if>
        <if test="deliverableId != null">
            and deliverable_id = #{deliverableId,jdbcType=BIGINT}
        </if>
        <if test="qualityEstimateWeight != null">
            and quality_estimate_weight = #{qualityEstimateWeight,jdbcType=DECIMAL}
        </if>
        <if test="timeEstimateWeight != null">
            and time_estimate_weight = #{timeEstimateWeight,jdbcType=DECIMAL}
        </if>
        <if test="createId != null">
            and create_id = #{createId,jdbcType=BIGINT}
        </if>
        <if test="createBy != null">
            and create_by = #{createBy,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateId != null">
            and update_id = #{updateId,jdbcType=BIGINT}
        </if>
        <if test="updateBy != null">
            and update_by = #{updateBy,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </select>

    <insert id="insertSelective" keyProperty="id"
            parameterType="com.fea.project.model.config.ProjectConfigEstimateDevlierableModel">
        insert into t_project_config_estimate_devlierable
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="deliverableId != null">
                deliverable_id,
            </if>
            <if test="qualityEstimateWeight != null">
                quality_estimate_weight,
            </if>
            <if test="timeEstimateWeight != null">
                time_estimate_weight,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="delStatus != null">
                del_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="deliverableId != null">
                #{deliverableId,jdbcType=BIGINT},
            </if>
            <if test="qualityEstimateWeight != null">
                #{qualityEstimateWeight,jdbcType=DECIMAL},
            </if>
            <if test="timeEstimateWeight != null">
                #{timeEstimateWeight,jdbcType=DECIMAL},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delStatus != null">
                #{delStatus,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="com.fea.project.model.config.ProjectConfigEstimateDevlierableModel">
        update t_project_config_estimate_devlierable
        <set>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=BIGINT},
            </if>
            <if test="deliverableId != null">
                deliverable_id = #{deliverableId,jdbcType=BIGINT},
            </if>
            <if test="qualityEstimateWeight != null">
                quality_estimate_weight = #{qualityEstimateWeight,jdbcType=DECIMAL},
            </if>
            <if test="timeEstimateWeight != null">
                time_estimate_weight = #{timeEstimateWeight,jdbcType=DECIMAL},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                update_id = #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delStatus != null">
                del_status = #{delStatus,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </update>

    <update id="updateById" parameterType="com.fea.project.model.config.ProjectConfigEstimateDevlierableModel">
        update t_project_config_estimate_devlierable
        set project_id = #{projectId,jdbcType=BIGINT},
            deliverable_id = #{deliverableId,jdbcType=BIGINT},
            quality_estimate_weight = #{qualityEstimateWeight,jdbcType=DECIMAL},
            time_estimate_weight = #{timeEstimateWeight,jdbcType=DECIMAL},
            create_id = #{createId,jdbcType=BIGINT},
            create_by = #{createBy,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_id = #{updateId,jdbcType=BIGINT},
            update_by = #{updateBy,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            del_status = #{delStatus,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </update>

</mapper>