<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fea.project.workorder.dao.OptionModelMapper">
  <resultMap id="BaseResultMap" type="com.fea.project.workorder.model.OptionModel">
    <id column="option_id" jdbcType="BIGINT" property="optionId" />
    <result column="option_name" jdbcType="VARCHAR" property="optionName" />
    <result column="option_time" jdbcType="TIMESTAMP" property="optionTime" />
    <result column="plan_start_time" jdbcType="TIMESTAMP" property="planStartTime" />
    <result column="plan_end_time" jdbcType="TIMESTAMP" property="planEndTime" />
    <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime" />
    <result column="actual_end_time" jdbcType="TIMESTAMP" property="actualEndTime" />
    <result column="business_type" jdbcType="BIGINT" property="businessType" />
    <result column="business_id" jdbcType="BIGINT" property="businessId" />
    <result column="workorder_id" jdbcType="BIGINT" property="workorderId" />
    <result column="business_name" jdbcType="VARCHAR" property="businessName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    option_id, option_name, option_time, plan_start_time, plan_end_time, actual_start_time, 
    actual_end_time, business_type, business_id,workorder_id, business_name
  </sql>
  <select id="selectByExample" parameterType="com.fea.project.workorder.model.OptionModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_workorder_option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_workorder_option
    where option_id = #{optionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_workorder_option
    where option_id = #{optionId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fea.project.workorder.model.OptionModelExample">
    delete from t_workorder_option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="optionId" parameterType="com.fea.project.workorder.model.OptionModel">
    insert into t_workorder_option (option_id, option_name, option_time, 
      plan_start_time, plan_end_time, actual_start_time, 
      actual_end_time, business_type, business_id, workorder_id,
      business_name)
    values (#{optionId,jdbcType=BIGINT}, #{optionName,jdbcType=VARCHAR}, #{optionTime,jdbcType=TIMESTAMP}, 
      #{planStartTime,jdbcType=TIMESTAMP}, #{planEndTime,jdbcType=TIMESTAMP}, #{actualStartTime,jdbcType=TIMESTAMP}, 
      #{actualEndTime,jdbcType=TIMESTAMP}, #{businessType,jdbcType=BIGINT}, #{businessId,jdbcType=BIGINT}, #{workorderId,jdbcType=BIGINT}, 
      #{businessName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="optionId" parameterType="com.fea.project.workorder.model.OptionModel">
    insert into t_workorder_option
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="optionId != null">
        option_id,
      </if>
      <if test="optionName != null">
        option_name,
      </if>
      <if test="optionTime != null">
        option_time,
      </if>
      <if test="planStartTime != null">
        plan_start_time,
      </if>
      <if test="planEndTime != null">
        plan_end_time,
      </if>
      <if test="actualStartTime != null">
        actual_start_time,
      </if>
      <if test="actualEndTime != null">
        actual_end_time,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="workorderId != null">
        workorder_id,
      </if>
      <if test="businessName != null">
        business_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="optionId != null">
        #{optionId,jdbcType=BIGINT},
      </if>
      <if test="optionName != null">
        #{optionName,jdbcType=VARCHAR},
      </if>
      <if test="optionTime != null">
        #{optionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planStartTime != null">
        #{planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null">
        #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartTime != null">
        #{actualStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualEndTime != null">
        #{actualEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=BIGINT},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=BIGINT},
      </if>
      <if test="workorderId != null">
        #{workorderId,jdbcType=BIGINT},
      </if>
      <if test="businessName != null">
        #{businessName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fea.project.workorder.model.OptionModelExample" resultType="java.lang.Long">
    select count(*) from t_workorder_option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_workorder_option
    <set>
      <if test="record.optionId != null">
        option_id = #{record.optionId,jdbcType=BIGINT},
      </if>
      <if test="record.optionName != null">
        option_name = #{record.optionName,jdbcType=VARCHAR},
      </if>
      <if test="record.optionTime != null">
        option_time = #{record.optionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.planStartTime != null">
        plan_start_time = #{record.planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.planEndTime != null">
        plan_end_time = #{record.planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actualStartTime != null">
        actual_start_time = #{record.actualStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actualEndTime != null">
        actual_end_time = #{record.actualEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.businessType != null">
        business_type = #{record.businessType,jdbcType=BIGINT},
      </if>
      <if test="record.businessId != null">
        business_id = #{record.businessId,jdbcType=BIGINT},
      </if>
      <if test="record.workorderId != null">
        workorder_id = #{record.workorderId,jdbcType=BIGINT},
      </if>
      <if test="record.businessName != null">
        business_name = #{record.businessName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_workorder_option
    set option_id = #{record.optionId,jdbcType=BIGINT},
      option_name = #{record.optionName,jdbcType=VARCHAR},
      option_time = #{record.optionTime,jdbcType=TIMESTAMP},
      plan_start_time = #{record.planStartTime,jdbcType=TIMESTAMP},
      plan_end_time = #{record.planEndTime,jdbcType=TIMESTAMP},
      actual_start_time = #{record.actualStartTime,jdbcType=TIMESTAMP},
      actual_end_time = #{record.actualEndTime,jdbcType=TIMESTAMP},
      business_type = #{record.businessType,jdbcType=BIGINT},
      business_id = #{record.businessId,jdbcType=BIGINT},
      workorder_id = #{record.workorderId,jdbcType=BIGINT},
      business_name = #{record.businessName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fea.project.workorder.model.OptionModel">
    update t_workorder_option
    <set>
      <if test="optionName != null">
        option_name = #{optionName,jdbcType=VARCHAR},
      </if>
      <if test="optionTime != null">
        option_time = #{optionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planStartTime != null">
        plan_start_time = #{planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null">
        plan_end_time = #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartTime != null">
        actual_start_time = #{actualStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualEndTime != null">
        actual_end_time = #{actualEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=BIGINT},
      </if>
      <if test="businessId != null">
        business_id = #{businessId,jdbcType=BIGINT},
      </if>
      <if test="workorderId != null">
        workorder_id = #{workorderId,jdbcType=BIGINT},
      </if>
      <if test="businessName != null">
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
    </set>
    where option_id = #{optionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fea.project.workorder.model.OptionModel">
    update t_workorder_option
    set option_name = #{optionName,jdbcType=VARCHAR},
      option_time = #{optionTime,jdbcType=TIMESTAMP},
      plan_start_time = #{planStartTime,jdbcType=TIMESTAMP},
      plan_end_time = #{planEndTime,jdbcType=TIMESTAMP},
      actual_start_time = #{actualStartTime,jdbcType=TIMESTAMP},
      actual_end_time = #{actualEndTime,jdbcType=TIMESTAMP},
      business_type = #{businessType,jdbcType=BIGINT},
      business_id = #{businessId,jdbcType=BIGINT},
      workorder_id = #{workorderId,jdbcType=BIGINT},
      business_name = #{businessName,jdbcType=VARCHAR}
    where option_id = #{optionId,jdbcType=BIGINT}
  </update>
</mapper>