<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fea.project.workorder.dao.PoolDispatchUserModelMapper">
  <resultMap id="BaseResultMap" type="com.fea.project.workorder.model.PoolDispatchUserModel">
    <id column="dispatch_id" jdbcType="BIGINT" property="dispatchId" />
    <result column="pool_id" jdbcType="BIGINT" property="poolId" />
    <result column="auto_dispatch_id" jdbcType="BIGINT" property="autoDispatchId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="workorder_count" jdbcType="BIGINT" property="workorderCount" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dispatch_id, pool_id, auto_dispatch_id, user_id,workorder_count, user_name
  </sql>
  <select id="selectByExample" parameterType="com.fea.project.workorder.model.PoolDispatchUserModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_workorder_pool_dispatch_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_workorder_pool_dispatch_user
    where dispatch_id = #{dispatchId,jdbcType=BIGINT}
  </select>
  <select id="selectModelByPoolId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_workorder_pool_dispatch_user
    where pool_id = #{poolId,jdbcType=BIGINT}
    and workorder_count <![CDATA[<=]]> (select AVG(u.workorder_count) from t_workorder_pool_dispatch_user u WHERE  u.pool_id =#{poolId,jdbcType=BIGINT}  ) 
	GROUP BY workorder_count
    
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_workorder_pool_dispatch_user
    where dispatch_id = #{dispatchId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fea.project.workorder.model.PoolDispatchUserModelExample">
    delete from t_workorder_pool_dispatch_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="dispatchId" parameterType="com.fea.project.workorder.model.PoolDispatchUserModel">
    insert into t_workorder_pool_dispatch_user (dispatch_id, pool_id, auto_dispatch_id, 
      user_id,workorder_count, user_name)
    values (#{dispatchId,jdbcType=BIGINT}, #{poolId,jdbcType=BIGINT}, #{autoDispatchId,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT},
      #{workorderCount,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertByList" keyProperty="dispatchId">
    insert into t_workorder_pool_dispatch_user (dispatch_id, pool_id, auto_dispatch_id, 
      user_id,workorder_count, user_name)
    values 
       <foreach collection="list" index="index" item="item" separator=",">
            (
				#{item.dispatchId,jdbcType=BIGINT}, 
				#{poolId,jdbcType=BIGINT}, 
				#{autoDispatchId,jdbcType=BIGINT}, 
				#{item.userId,jdbcType=BIGINT}, 
				0, 
				#{item.userName,jdbcType=VARCHAR}
                )
        </foreach>
  </insert>
  <insert id="insertSelective" keyProperty="dispatchId" parameterType="com.fea.project.workorder.model.PoolDispatchUserModel">
    insert into t_workorder_pool_dispatch_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dispatchId != null">
        dispatch_id,
      </if>
      <if test="poolId != null">
        pool_id,
      </if>
      <if test="autoDispatchId != null">
        auto_dispatch_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="workorderCount != null">
        workorder_count,
      </if>
      <if test="userName != null">
        user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dispatchId != null">
        #{dispatchId,jdbcType=BIGINT},
      </if>
      <if test="poolId != null">
        #{poolId,jdbcType=BIGINT},
      </if>
      <if test="autoDispatchId != null">
        #{autoDispatchId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="workorderCount != null">
        #{workorderCount,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fea.project.workorder.model.PoolDispatchUserModelExample" resultType="java.lang.Long">
    select count(*) from t_workorder_pool_dispatch_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_workorder_pool_dispatch_user
    <set>
      <if test="record.dispatchId != null">
        dispatch_id = #{record.dispatchId,jdbcType=BIGINT},
      </if>
      <if test="record.poolId != null">
        pool_id = #{record.poolId,jdbcType=BIGINT},
      </if>
      <if test="record.autoDispatchId != null">
        auto_dispatch_id = #{record.autoDispatchId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.workorderCount != null">
        workorder_count = #{record.workorderCount,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_workorder_pool_dispatch_user
    set dispatch_id = #{record.dispatchId,jdbcType=BIGINT},
      pool_id = #{record.poolId,jdbcType=BIGINT},
      auto_dispatch_id = #{record.autoDispatchId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      workorder_count = #{record.workorderCount,jdbcType=BIGINT},
      user_name = #{record.userName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fea.project.workorder.model.PoolDispatchUserModel">
    update t_workorder_pool_dispatch_user
    <set>
      <if test="poolId != null">
        pool_id = #{poolId,jdbcType=BIGINT},
      </if>
      <if test="autoDispatchId != null">
        auto_dispatch_id = #{autoDispatchId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="workorderCount != null">
        workorder_count = #{workorderCount,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where dispatch_id = #{dispatchId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fea.project.workorder.model.PoolDispatchUserModel">
    update t_workorder_pool_dispatch_user
    set
      workorder_count = #{workorderCount,jdbcType=BIGINT} + 1 
    where dispatch_id = #{dispatchId,jdbcType=BIGINT}
  </update>
</mapper>