<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fea.project.dao.project.draft.DraftProjectMapper">
    <resultMap id="BaseResultMap" type="com.fea.project.model.project.draft.DraftProjectModel">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="type" jdbcType="BIGINT" property="type" />
        <result column="priority" jdbcType="BIGINT" property="priority" />
        <result column="level" jdbcType="BIGINT" property="level" />
        <result column="risk_level" jdbcType="BIGINT" property="riskLevel" />
        <result column="resource" jdbcType="INTEGER" property="resource" />
        <result column="connect_id" jdbcType="VARCHAR" property="connectId" />
        <result column="resource_describe" jdbcType="VARCHAR" property="resourceDescribe" />
        <result column="applyer" jdbcType="BIGINT" property="applyer" />
        <result column="apply_depart" jdbcType="BIGINT" property="applyDepart" />
        <result column="plan_startTime" jdbcType="TIMESTAMP" property="planStartTime" />
        <result column="plan_endTime" jdbcType="TIMESTAMP" property="planEndTime" />
        <result column="duration" jdbcType="DECIMAL" property="duration" />
        <result column="leader" jdbcType="BIGINT" property="leader" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="content" jdbcType="BLOB" property="content"/>
        <result column="create_id" jdbcType="BIGINT" property="createId" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_id" jdbcType="BIGINT" property="updateId" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="del_status" jdbcType="INTEGER" property="delStatus" />
        <result column="reg_id" jdbcType="BIGINT" property="regId" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="real_duration" jdbcType="DECIMAL" property="realDuration" />
        <result column="real_start_time" jdbcType="TIMESTAMP" property="realStartTime" />
        <result column="real_end_time" jdbcType="TIMESTAMP" property="realEndTime" />
        <result column="verify_status" jdbcType="INTEGER" property="verifyStatus" />
        <result column="establishment" jdbcType="INTEGER" property="establishment" />
        <result column="project_status" jdbcType="INTEGER" property="projectStatus" />
        <result column="action_status" jdbcType="INTEGER" property="actionStatus" />
        <result column="version" jdbcType="BIGINT" property="version" />
        <result column="draft_user" jdbcType="BIGINT" property="draftUser" />
        <result column="original_id" jdbcType="BIGINT" property="originalId" />
        <result column="area" jdbcType="BIGINT" property="area"/>
        <result column="industry" jdbcType="BIGINT" property="industry"/>
        <result column="budget" jdbcType="DECIMAL" property="budget"/>
        <result column="currency_id" jdbcType="BIGINT" property="currencyId"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, name, code, type, priority, level, risk_level, resource, connect_id, resource_describe,
        applyer, apply_depart, plan_startTime, plan_endTime, duration, leader,
        remark, content, create_id, create_by, create_time, update_id, update_by, update_time, del_status,
        reg_id, parent_id, real_duration, real_start_time, real_end_time, verify_status, 
        establishment, project_status, action_status, version, draft_user, original_id,
        area, industry, budget, currency_id
    </sql>


    <resultMap id="BaseResultMap_vo" type="com.fea.project.model.project.draft.vo.DraftProjectVo" extends="BaseResultMap">
        <association property="partners" column="original_id"
                     select="com.fea.project.dao.user.ProjectUserMapper.selectByProjectId"/>
    </resultMap>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap_vo">
        select *
        from t_project_draft_project
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_project_draft_project
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from t_project_draft_project
        where id in 
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" keyProperty="id" parameterType="com.fea.project.model.project.draft.DraftProjectModel">
        insert into t_project_draft_project (
        <include refid="Base_Column_List" />
        )
        values (
            #{id,jdbcType=BIGINT},
            #{name,jdbcType=VARCHAR},
            #{code,jdbcType=VARCHAR},
            #{type,jdbcType=BIGINT}, 
            #{priority,jdbcType=BIGINT}, 
            #{level,jdbcType=BIGINT}, 
            #{riskLevel,jdbcType=BIGINT}, 
            #{resource,jdbcType=INTEGER}, 
            #{connectId,jdbcType=VARCHAR}, 
            #{resourceDescribe,jdbcType=VARCHAR}, 
            #{applyer,jdbcType=BIGINT},
            #{applyDepart,jdbcType=BIGINT}, 
            #{planStartTime,jdbcType=TIMESTAMP}, 
            #{planEndTime,jdbcType=TIMESTAMP}, 
            #{duration,jdbcType=DECIMAL}, 
            #{leader,jdbcType=BIGINT}, 
            #{remark,jdbcType=VARCHAR},
            #{content,jdbcType=BLOB},
            #{createId,jdbcType=BIGINT}, 
            #{createBy,jdbcType=VARCHAR}, 
            #{createTime,jdbcType=TIMESTAMP}, 
            #{updateId,jdbcType=BIGINT}, 
            #{updateBy,jdbcType=VARCHAR}, 
            #{updateTime,jdbcType=TIMESTAMP}, 
            #{delStatus,jdbcType=INTEGER}, 
            #{regId,jdbcType=BIGINT}, 
            #{parentId,jdbcType=BIGINT}, 
            #{realDuration,jdbcType=DECIMAL}, 
            #{realStartTime,jdbcType=TIMESTAMP}, 
            #{realEndTime,jdbcType=TIMESTAMP}, 
            #{verifyStatus,jdbcType=INTEGER}, 
            #{establishment,jdbcType=INTEGER}, 
            #{projectStatus,jdbcType=INTEGER}, 
            #{actionStatus,jdbcType=INTEGER}, 
            #{version,jdbcType=BIGINT},
            #{draftUser,jdbcType=BIGINT}, 
            #{originalId,jdbcType=BIGINT},
            #{area,jdbcType=BIGINT},
            #{industry,jdbcType=BIGINT},
            #{budget,jdbcType=DECIMAL},
            #{currencyId,jdbcType=BIGINT}
            )
    </insert>

    <insert id="insertList" parameterType="java.util.List" keyProperty="id">
        insert into t_project_draft_project (
        <include refid="Base_Column_List" />
        ) values 
        <foreach collection="list" index="index" item="item" separator=",">
            (
                #{item.id,jdbcType=BIGINT},
                #{item.name,jdbcType=VARCHAR},
                #{item.code,jdbcType=VARCHAR},
                #{item.type,jdbcType=BIGINT}, 
                #{item.priority,jdbcType=BIGINT}, 
                #{item.level,jdbcType=BIGINT}, 
                #{item.riskLevel,jdbcType=BIGINT}, 
                #{item.resource,jdbcType=INTEGER}, 
                #{item.connectId,jdbcType=VARCHAR}, 
                #{item.resourceDescribe,jdbcType=VARCHAR}, 
                #{item.applyer,jdbcType=BIGINT},
                #{item.applyDepart,jdbcType=BIGINT}, 
                #{item.planStartTime,jdbcType=TIMESTAMP}, 
                #{item.planEndTime,jdbcType=TIMESTAMP}, 
                #{item.duration,jdbcType=DECIMAL}, 
                #{item.leader,jdbcType=BIGINT}, 
                #{item.remark,jdbcType=VARCHAR},
                #{item.content,jdbcType=BLOB},
                #{item.createId,jdbcType=BIGINT},
                #{item.createBy,jdbcType=VARCHAR}, 
                #{item.createTime,jdbcType=TIMESTAMP}, 
                #{item.updateId,jdbcType=BIGINT}, 
                #{item.updateBy,jdbcType=VARCHAR}, 
                #{item.updateTime,jdbcType=TIMESTAMP}, 
                #{item.delStatus,jdbcType=INTEGER}, 
                #{item.regId,jdbcType=BIGINT}, 
                #{item.parentId,jdbcType=BIGINT}, 
                #{item.realDuration,jdbcType=DECIMAL}, 
                #{item.realStartTime,jdbcType=TIMESTAMP}, 
                #{item.realEndTime,jdbcType=TIMESTAMP}, 
                #{item.verifyStatus,jdbcType=INTEGER}, 
                #{item.establishment,jdbcType=INTEGER}, 
                #{item.projectStatus,jdbcType=INTEGER}, 
                #{item.actionStatus,jdbcType=INTEGER}, 
                #{item.version,jdbcType=BIGINT},
                #{item.draftUser,jdbcType=BIGINT}, 
                #{item.originalId,jdbcType=BIGINT},
                #{item.area,jdbcType=BIGINT},
                #{item.industry,jdbcType=BIGINT},
                #{item.budget,jdbcType=DECIMAL},
                #{item.currencyId,jdbcType=BIGINT}
                )
        </foreach>
    </insert>

    <select id="selectByModel" parameterType="com.fea.project.model.project.draft.DraftProjectModel" resultMap="BaseResultMap">
        select * from t_project_draft_project where 1 = 1
        <if test="id != null">
            and id = #{id,jdbcType=BIGINT}
        </if>
        <if test="name != null">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="code != null">
            and code = #{code,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
            and type = #{type,jdbcType=BIGINT}
        </if>
        <if test="priority != null">
            and priority = #{priority,jdbcType=BIGINT}
        </if>
        <if test="level != null">
            and level = #{level,jdbcType=BIGINT}
        </if>
        <if test="riskLevel != null">
            and risk_level = #{riskLevel,jdbcType=BIGINT}
        </if>
        <if test="resource != null">
            and resource = #{resource,jdbcType=INTEGER}
        </if>
        <if test="connectId != null">
            and connect_id = #{connectId,jdbcType=VARCHAR}
        </if>
        <if test="resourceDescribe != null">
            and resource_describe = #{resourceDescribe,jdbcType=VARCHAR}
        </if>
        <if test="applyer != null">
            and applyer = #{applyer,jdbcType=BIGINT}
        </if>
        <if test="applyDepart != null">
            and apply_depart = #{applyDepart,jdbcType=BIGINT}
        </if>
        <if test="planStartTime != null">
            and plan_startTime = #{planStartTime,jdbcType=TIMESTAMP}
        </if>
        <if test="planEndTime != null">
            and plan_endTime = #{planEndTime,jdbcType=TIMESTAMP}
        </if>
        <if test="duration != null">
            and duration = #{duration,jdbcType=DECIMAL}
        </if>
        <if test="leader != null">
            and leader = #{leader,jdbcType=BIGINT}
        </if>
        <if test="remark != null">
            and remark = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="content != null">
            and content = #{content,jdbcType=BLOB}
        </if>
        <if test="createId != null">
            and create_id = #{createId,jdbcType=BIGINT}
        </if>
        <if test="createBy != null">
            and create_by = #{createBy,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateId != null">
            and update_id = #{updateId,jdbcType=BIGINT}
        </if>
        <if test="updateBy != null">
            and update_by = #{updateBy,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="regId != null">
            and reg_id = #{regId,jdbcType=BIGINT}
        </if>
        <if test="parentId != null">
            and parent_id = #{parentId,jdbcType=BIGINT}
        </if>
        <if test="realDuration != null">
            and real_duration = #{realDuration,jdbcType=DECIMAL}
        </if>
        <if test="realStartTime != null">
            and real_start_time = #{realStartTime,jdbcType=TIMESTAMP}
        </if>
        <if test="realEndTime != null">
            and real_end_time = #{realEndTime,jdbcType=TIMESTAMP}
        </if>
        <if test="verifyStatus != null">
            and verify_status = #{verifyStatus,jdbcType=INTEGER}
        </if>
        <if test="establishment != null">
            and establishment = #{establishment,jdbcType=INTEGER}
        </if>
        <if test="projectStatus != null">
            and project_status = #{projectStatus,jdbcType=INTEGER}
        </if>
        <if test="actionStatus != null">
            and action_status = #{actionStatus,jdbcType=INTEGER}
        </if>
        <if test="version != null">
            and version = #{version,jdbcType=BIGINT}
        </if>
        <if test="draftUser != null">
            and draft_user = #{draftUser,jdbcType=BIGINT}
        </if>
        <if test="originalId != null">
            and original_id = #{originalId,jdbcType=BIGINT}
        </if>
        <if test="area != null">
            and area = #{area,jdbcType=BIGINT}
        </if>
        <if test="industry != null">
            and industry = #{industry,jdbcType=BIGINT}
        </if>
        <if test="budget != null">
            and budget = #{budget,jdbcType=DECIMAL}
        </if>
        <if test="currencyId != null">
            and currency_id = #{currencyId,jdbcType=BIGINT}
        </if>
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </select>

    <insert id="insertSelective" keyProperty="id" parameterType="com.fea.project.model.project.draft.DraftProjectModel">
        insert into t_project_draft_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="priority != null">
                priority,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="riskLevel != null">
                risk_level,
            </if>
            <if test="resource != null">
                resource,
            </if>
            <if test="connectId != null">
                connect_id,
            </if>
            <if test="resourceDescribe != null">
                resource_describe,
            </if>
            <if test="applyer != null">
                applyer,
            </if>
            <if test="applyDepart != null">
                apply_depart,
            </if>
            <if test="planStartTime != null">
                plan_startTime,
            </if>
            <if test="planEndTime != null">
                plan_endTime,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="leader != null">
                leader,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="delStatus != null">
                del_status,
            </if>
            <if test="regId != null">
                reg_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="realDuration != null">
                real_duration,
            </if>
            <if test="realStartTime != null">
                real_start_time,
            </if>
            <if test="realEndTime != null">
                real_end_time,
            </if>
            <if test="verifyStatus != null">
                verify_status,
            </if>
            <if test="establishment != null">
                establishment,
            </if>
            <if test="projectStatus != null">
                project_status,
            </if>
            <if test="actionStatus != null">
                action_status,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="draftUser != null">
                draft_user,
            </if>
            <if test="originalId != null">
                original_id,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="industry != null">
                industry,
            </if>
            <if test="budget != null">
                budget,
            </if>
            <if test="currencyId != null">
                currency_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=BIGINT},
            </if>
            <if test="priority != null">
                #{priority,jdbcType=BIGINT},
            </if>
            <if test="level != null">
                #{level,jdbcType=BIGINT},
            </if>
            <if test="riskLevel != null">
                #{riskLevel,jdbcType=BIGINT},
            </if>
            <if test="resource != null">
                #{resource,jdbcType=INTEGER},
            </if>
            <if test="connectId != null">
                #{connectId,jdbcType=VARCHAR},
            </if>
            <if test="resourceDescribe != null">
                #{resourceDescribe,jdbcType=VARCHAR},
            </if>
            <if test="applyer != null">
                #{applyer,jdbcType=BIGINT},
            </if>
            <if test="applyDepart != null">
                #{applyDepart,jdbcType=BIGINT},
            </if>
            <if test="planStartTime != null">
                #{planStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="planEndTime != null">
                #{planEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=DECIMAL},
            </if>
            <if test="leader != null">
                #{leader,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=BLOB},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delStatus != null">
                #{delStatus,jdbcType=INTEGER},
            </if>
            <if test="regId != null">
                #{regId,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="realDuration != null">
                #{realDuration,jdbcType=DECIMAL},
            </if>
            <if test="realStartTime != null">
                #{realStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="realEndTime != null">
                #{realEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="verifyStatus != null">
                #{verifyStatus,jdbcType=INTEGER},
            </if>
            <if test="establishment != null">
                #{establishment,jdbcType=INTEGER},
            </if>
            <if test="projectStatus != null">
                #{projectStatus,jdbcType=INTEGER},
            </if>
            <if test="actionStatus != null">
                #{actionStatus,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="draftUser != null">
                #{draftUser,jdbcType=BIGINT},
            </if>
            <if test="originalId != null">
                #{originalId,jdbcType=BIGINT},
            </if>
            <if test="area != null">
                #{area,jdbcType=BIGINT},
            </if>
            <if test="industry != null">
                #{industry,jdbcType=BIGINT},
            </if>
            <if test="budget != null">
                #{budget,jdbcType=DECIMAL},
            </if>
            <if test="currencyId != null">
                #{currencyId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="com.fea.project.model.project.draft.DraftProjectModel">
        update t_project_draft_project
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=BIGINT},
            </if>
            <if test="priority != null">
                priority = #{priority,jdbcType=BIGINT},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=BIGINT},
            </if>
            <if test="riskLevel != null">
                risk_level = #{riskLevel,jdbcType=BIGINT},
            </if>
            <if test="resource != null">
                resource = #{resource,jdbcType=INTEGER},
            </if>
            <if test="connectId != null">
                connect_id = #{connectId,jdbcType=VARCHAR},
            </if>
            <if test="resourceDescribe != null">
                resource_describe = #{resourceDescribe,jdbcType=VARCHAR},
            </if>
            <if test="applyer != null">
                applyer = #{applyer,jdbcType=BIGINT},
            </if>
            <if test="applyDepart != null">
                apply_depart = #{applyDepart,jdbcType=BIGINT},
            </if>
            <if test="planStartTime != null">
                plan_startTime = #{planStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="planEndTime != null">
                plan_endTime = #{planEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="duration != null">
                duration = #{duration,jdbcType=DECIMAL},
            </if>
            <if test="leader != null">
                leader = #{leader,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=BLOB},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                update_id = #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delStatus != null">
                del_status = #{delStatus,jdbcType=INTEGER},
            </if>
            <if test="regId != null">
                reg_id = #{regId,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="realDuration != null">
                real_duration = #{realDuration,jdbcType=DECIMAL},
            </if>
            <if test="realStartTime != null">
                real_start_time = #{realStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="realEndTime != null">
                real_end_time = #{realEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="verifyStatus != null">
                verify_status = #{verifyStatus,jdbcType=INTEGER},
            </if>
            <if test="establishment != null">
                establishment = #{establishment,jdbcType=INTEGER},
            </if>
            <if test="projectStatus != null">
                project_status = #{projectStatus,jdbcType=INTEGER},
            </if>
            <if test="actionStatus != null">
                action_status = #{actionStatus,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="draftUser != null">
                draft_user = #{draftUser,jdbcType=BIGINT},
            </if>
            <if test="originalId != null">
                original_id = #{originalId,jdbcType=BIGINT},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=BIGINT},
            </if>
            <if test="industry != null">
                industry = #{industry,jdbcType=BIGINT},
            </if>
            <if test="budget != null">
                budget = #{budget,jdbcType=DECIMAL},
            </if>
            <if test="currencyId != null">
                currency_id = #{currencyId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </update>


    <update id="updateById" parameterType="com.fea.project.model.project.draft.DraftProjectModel">
        update t_project_draft_project
        set name = #{name,jdbcType=VARCHAR},
            code = #{code,jdbcType=VARCHAR},
            type = #{type,jdbcType=BIGINT},
            priority = #{priority,jdbcType=BIGINT},
            level = #{level,jdbcType=BIGINT},
            risk_level = #{riskLevel,jdbcType=BIGINT},
            resource = #{resource,jdbcType=INTEGER},
            connect_id = #{connectId,jdbcType=VARCHAR},
            resource_describe = #{resourceDescribe,jdbcType=VARCHAR},
            applyer = #{applyer,jdbcType=BIGINT},
            apply_depart = #{applyDepart,jdbcType=BIGINT},
            plan_startTime = #{planStartTime,jdbcType=TIMESTAMP},
            plan_endTime = #{planEndTime,jdbcType=TIMESTAMP},
            duration = #{duration,jdbcType=DECIMAL},
            leader = #{leader,jdbcType=BIGINT},
            remark = #{remark,jdbcType=VARCHAR},
            content = #{content,jdbcType=BLOB},
            create_id = #{createId,jdbcType=BIGINT},
            create_by = #{createBy,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_id = #{updateId,jdbcType=BIGINT},
            update_by = #{updateBy,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            del_status = #{delStatus,jdbcType=INTEGER},
            reg_id = #{regId,jdbcType=BIGINT},
            parent_id = #{parentId,jdbcType=BIGINT},
            real_duration = #{realDuration,jdbcType=DECIMAL},
            real_start_time = #{realStartTime,jdbcType=TIMESTAMP},
            real_end_time = #{realEndTime,jdbcType=TIMESTAMP},
            verify_status = #{verifyStatus,jdbcType=INTEGER},
            establishment = #{establishment,jdbcType=INTEGER},
            project_status = #{projectStatus,jdbcType=INTEGER},
            action_status = #{actionStatus,jdbcType=INTEGER},
            version = #{version,jdbcType=BIGINT},
            draft_user = #{draftUser,jdbcType=BIGINT},
            original_id = #{originalId,jdbcType=BIGINT},
            area = #{area,jdbcType=BIGINT},
            industry = #{industry,jdbcType=BIGINT},
            budget = #{budget,jdbcType=DECIMAL},
            currency_id = #{currencyId,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </update>

    <select id="selectModelByIdAndConditionModel" resultType="com.fea.project.model.project.draft.DraftProjectModel">
        select
        <include refid="Base_Column_List"/>
        from t_project_draft_project
        where id = #{id, jdbcType=BIGINT}
        <if test="@com.fea.project.util.MapUtil@containsKey(map, @com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_TYPE.getValue)">
            ${map.get(@com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_TYPE.getValue)}
        </if>
        <if test="@com.fea.project.util.MapUtil@containsKey(map, @com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_APPLY_DEPARTMENT.getValue)">
            ${map.get(@com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_APPLY_DEPARTMENT.getValue)}
        </if>
        <if test="@com.fea.project.util.MapUtil@containsKey(map, @com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_LEVEL.getValue)">
            ${map.get(@com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_LEVEL.getValue)}
        </if>
        <if test="@com.fea.project.util.MapUtil@containsKey(map, @com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_RESOURCE.getValue)">
            ${map.get(@com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_RESOURCE.getValue)}
        </if>
        <if test="@com.fea.project.util.MapUtil@containsKey(map, @com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_RISK_LEVEL.getValue)">
            ${map.get(@com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_RISK_LEVEL.getValue)}
        </if>
        <if test="@com.fea.project.util.MapUtil@containsKey(map, @com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_AREA.getValue)">
            ${map.get(@com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_AREA.getValue)}
        </if>
        <if test="@com.fea.project.util.MapUtil@containsKey(map, @com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_BUDGET.getValue)">
            ${map.get(@com.fea.project.enums.flow.base.flowtype.ProjectFlowChangeProjectConditionTypeEnum@TYPE_PROJECT_BUDGET.getValue)}
        </if>
    </select>

</mapper>