<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fea.project.dao.role.ProjectRoleAuthorityConfigMapper">
    <resultMap id="BaseResultMap" type="com.fea.project.model.role.ProjectRoleAuthorityConfigModel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="authority_detail_id" jdbcType="BIGINT" property="authorityDetailId"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, role_id, authority_detail_id, create_id, create_by, create_time
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * 
        from t_project_role_authority_config
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_project_role_authority_config
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from t_project_role_authority_config
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" keyProperty="id" parameterType="com.fea.project.model.role.ProjectRoleAuthorityConfigModel">
        insert into t_project_role_authority_config (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{roleId,jdbcType=BIGINT},
        #{authorityDetailId,jdbcType=BIGINT},
        #{createId,jdbcType=BIGINT},
        #{createBy,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertList" parameterType="java.util.List" keyProperty="id">
        insert into t_project_role_authority_config (
        <include refid="Base_Column_List"/>
        ) values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.id,jdbcType=BIGINT},
            #{item.roleId,jdbcType=BIGINT},
            #{item.authorityDetailId,jdbcType=BIGINT},
            #{item.createId,jdbcType=BIGINT},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <select id="selectByModel" parameterType="com.fea.project.model.role.ProjectRoleAuthorityConfigModel"
            resultMap="BaseResultMap">
        select * from t_project_role_authority_config where 1 = 1
        <if test="id != null">
            and id = #{id,jdbcType=BIGINT}
        </if>
        <if test="roleId != null">
            and role_id = #{roleId,jdbcType=BIGINT}
        </if>
        <if test="authorityDetailId != null">
            and authority_detail_id = #{authorityDetailId,jdbcType=BIGINT}
        </if>
        <if test="createId != null">
            and create_id = #{createId,jdbcType=BIGINT}
        </if>
        <if test="createBy != null">
            and create_by = #{createBy,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
    </select>

    <insert id="insertSelective" keyProperty="id"
            parameterType="com.fea.project.model.role.ProjectRoleAuthorityConfigModel">
        insert into t_project_role_authority_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="authorityDetailId != null">
                authority_detail_id,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="authorityDetailId != null">
                #{authorityDetailId,jdbcType=BIGINT},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="com.fea.project.model.role.ProjectRoleAuthorityConfigModel">
        update t_project_role_authority_config
        <set>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="authorityDetailId != null">
                authority_detail_id = #{authorityDetailId,jdbcType=BIGINT},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateById" parameterType="com.fea.project.model.role.ProjectRoleAuthorityConfigModel">
        update t_project_role_authority_config
        set role_id = #{roleId,jdbcType=BIGINT},
            authority_detail_id = #{authorityDetailId,jdbcType=BIGINT},
            create_id = #{createId,jdbcType=BIGINT},
            create_by = #{createBy,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByRoleId">
        delete from t_project_role_authority_config
        where role_id = #{roleId,jdbcType=BIGINT}
    </delete>

    <select id="selectByProjectIdAndUserId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from t_project_role_authority_config
            where role_id = (
                select role_id from t_project_role_user
                    where user_id = (
                        select id from t_project_user
                        where project_id = #{projectId, jdbcType=BIGINT} and user_id = #{userId, jdbcType=BIGINT}
                        and status = ${@com.fea.project.enums.user.UserStatusEnum@TYPE_NORMAL.getValue()}
                    )
            )
    </select>


</mapper>