<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fea.project.dao.plan.DeliverRequirementModelMapper">
  <resultMap id="BaseResultMap" type="com.fea.project.model.plan.DeliverRequirementModel">
    <id column="plan_deliver_requirement_id" jdbcType="BIGINT" property="planDeliverRequirementId" />
    <result column="plan_deliver_requirement_name" jdbcType="VARCHAR" property="planDeliverRequirementName" />
    <result column="plan_deliver_requirement_time" jdbcType="TIMESTAMP" property="planDeliverRequirementTime" />
    <result column="plan_deliver_requirement_desc" jdbcType="VARCHAR" property="planDeliverRequirementDesc" />
    <result column="plan_deliver_requirement_appendix_id" jdbcType="BIGINT" property="planDeliverRequirementAppendixId" />
    <result column="plan_id" jdbcType="BIGINT" property="planId" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_status" jdbcType="BIGINT" property="delStatus" />
    <association property="planModel" javaType="com.fea.project.model.plan.PlanModel">
    	<id column="plan_id" jdbcType="BIGINT" property="planId" />
	    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
	    <result column="plan_version" jdbcType="BIGINT" property="planVersion" />
	    <result column="plan_apply_desc" jdbcType="VARCHAR" property="planApplyDesc" />
	    <result column="plan_num" jdbcType="VARCHAR" property="planNum" />
	    <result column="parent_plan_id" jdbcType="BIGINT" property="parentPlanId" />
	    <result column="project_id" jdbcType="BIGINT" property="projectId" />
	    <result column="project_step" jdbcType="BIGINT" property="projectStep" />
	    <result column="priority" jdbcType="BIGINT" property="priority" />
	    <result column="plan_startTime" jdbcType="TIMESTAMP" property="planStarttime" />
	    <result column="plan_endTime" jdbcType="TIMESTAMP" property="planEndtime" />
	    <result column="plan_deadline" jdbcType="TIMESTAMP" property="planDeadline" />
	    <result column="plan_duration" jdbcType="BIGINT" property="planDuration" /> 
	    <result column="plan_milestone_id" jdbcType="BIGINT" property="planMilestoneId" />
	    <result column="plan_remind_hour" jdbcType="BIGINT" property="planRemindHour" />
	    <result column="plan_content" jdbcType="VARCHAR" property="planContent" />
	    <result column="plan_appendix_id" jdbcType="BIGINT" property="planAppendixId" />
	    <result column="association_plan_id" jdbcType="BIGINT" property="associationPlanId" />
	    <result column="delivery_requirement_id" jdbcType="BIGINT" property="deliveryRequirementId" />
	    <result column="report_requirement_id" jdbcType="BIGINT" property="reportRequirementId" />
	    <result column="quality_requirement_id" jdbcType="BIGINT" property="qualityRequirementId" />
	    <result column="plan_remark" jdbcType="VARCHAR" property="planRemark" />
	    <result column="check_status" jdbcType="BIGINT" property="checkStatus" />
	    <result column="create_id" jdbcType="BIGINT" property="createId" />
	    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
	    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="update_id" jdbcType="BIGINT" property="updateId" />
	    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
	    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	    <result column="del_status" jdbcType="BIGINT" property="delStatus" />
    </association>
  </resultMap> 
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    plan_deliver_requirement_id, plan_deliver_requirement_name, plan_deliver_requirement_time, 
    plan_deliver_requirement_desc, plan_deliver_requirement_appendix_id, plan_id, create_id, 
    create_by, create_time, update_id, update_by, update_time, del_status
  </sql>
  <select id="selectByExample" parameterType="com.fea.project.model.plan.DeliverRequirementModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_project_plan_deliver_requirement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_project_plan_deliver_requirement
    where plan_deliver_requirement_id = #{planDeliverRequirementId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_project_plan_deliver_requirement
    where plan_deliver_requirement_id = #{planDeliverRequirementId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fea.project.model.plan.DeliverRequirementModelExample">
    delete from t_project_plan_deliver_requirement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="planDeliverRequirementId"  parameterType="com.fea.project.model.plan.DeliverRequirementModel">
    insert into t_project_plan_deliver_requirement (plan_deliver_requirement_id, plan_deliver_requirement_name, 
      plan_deliver_requirement_time, plan_deliver_requirement_desc, 
      plan_deliver_requirement_appendix_id, plan_id, 
      create_id, create_by, create_time, 
      update_id, update_by, update_time, 
      del_status)
    values (#{planDeliverRequirementId,jdbcType=BIGINT}, #{planDeliverRequirementName,jdbcType=VARCHAR}, 
      #{planDeliverRequirementTime,jdbcType=TIMESTAMP}, #{planDeliverRequirementDesc,jdbcType=VARCHAR}, 
      #{planDeliverRequirementAppendixId,jdbcType=BIGINT}, #{planId,jdbcType=BIGINT}, 
      #{createId,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=BIGINT}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{delStatus,jdbcType=BIGINT})
      
  </insert>
  <insert id="insertSelective" keyProperty="planDeliverRequirementId"   parameterType="com.fea.project.model.plan.DeliverRequirementModel">
    insert into t_project_plan_deliver_requirement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="planDeliverRequirementId != null">
        plan_deliver_requirement_id,
      </if>
      <if test="planDeliverRequirementName != null">
        plan_deliver_requirement_name,
      </if>
      <if test="planDeliverRequirementTime != null">
        plan_deliver_requirement_time,
      </if>
      <if test="planDeliverRequirementDesc != null">
        plan_deliver_requirement_desc,
      </if>
      <if test="planDeliverRequirementAppendixId != null">
        plan_deliver_requirement_appendix_id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delStatus != null">
        del_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="planDeliverRequirementId != null">
        #{planDeliverRequirementId,jdbcType=BIGINT},
      </if>
      <if test="planDeliverRequirementName != null">
        #{planDeliverRequirementName,jdbcType=VARCHAR},
      </if>
      <if test="planDeliverRequirementTime != null">
        #{planDeliverRequirementTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planDeliverRequirementDesc != null">
        #{planDeliverRequirementDesc,jdbcType=VARCHAR},
      </if>
      <if test="planDeliverRequirementAppendixId != null">
        #{planDeliverRequirementAppendixId,jdbcType=BIGINT},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=BIGINT},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=BIGINT}, 
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null">
        #{delStatus,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fea.project.model.plan.DeliverRequirementModelExample" resultType="java.lang.Long">
    select count(*) from t_project_plan_deliver_requirement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_project_plan_deliver_requirement
    <set>
      <if test="record.planDeliverRequirementId != null">
        plan_deliver_requirement_id = #{record.planDeliverRequirementId,jdbcType=BIGINT},
      </if>
      <if test="record.planDeliverRequirementName != null">
        plan_deliver_requirement_name = #{record.planDeliverRequirementName,jdbcType=VARCHAR},
      </if>
      <if test="record.planDeliverRequirementTime != null">
        plan_deliver_requirement_time = #{record.planDeliverRequirementTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.planDeliverRequirementDesc != null">
        plan_deliver_requirement_desc = #{record.planDeliverRequirementDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.planDeliverRequirementAppendixId != null">
        plan_deliver_requirement_appendix_id = #{record.planDeliverRequirementAppendixId,jdbcType=BIGINT},
      </if>
      <if test="record.planId != null">
        plan_id = #{record.planId,jdbcType=BIGINT},
      </if>
      <if test="record.createId != null">
        create_id = #{record.createId,jdbcType=BIGINT},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateId != null">
        update_id = #{record.updateId,jdbcType=BIGINT},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delStatus != null">
        del_status = #{record.delStatus,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_project_plan_deliver_requirement
    set plan_deliver_requirement_id = #{record.planDeliverRequirementId,jdbcType=BIGINT},
      plan_deliver_requirement_name = #{record.planDeliverRequirementName,jdbcType=VARCHAR},
      plan_deliver_requirement_time = #{record.planDeliverRequirementTime,jdbcType=TIMESTAMP},
      plan_deliver_requirement_desc = #{record.planDeliverRequirementDesc,jdbcType=VARCHAR},
      plan_deliver_requirement_appendix_id = #{record.planDeliverRequirementAppendixId,jdbcType=BIGINT},
      plan_id = #{record.planId,jdbcType=BIGINT},
      create_id = #{record.createId,jdbcType=BIGINT},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_id = #{record.updateId,jdbcType=BIGINT},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      del_status = #{record.delStatus,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fea.project.model.plan.DeliverRequirementModel">
    update t_project_plan_deliver_requirement
    <set>
      <if test="planDeliverRequirementName != null">
        plan_deliver_requirement_name = #{planDeliverRequirementName,jdbcType=VARCHAR},
      </if>
      <if test="planDeliverRequirementTime != null">
        plan_deliver_requirement_time = #{planDeliverRequirementTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planDeliverRequirementDesc != null">
        plan_deliver_requirement_desc = #{planDeliverRequirementDesc,jdbcType=VARCHAR},
      </if>
      <if test="planDeliverRequirementAppendixId != null">
        plan_deliver_requirement_appendix_id = #{planDeliverRequirementAppendixId,jdbcType=BIGINT},
      </if>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=BIGINT},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus,jdbcType=BIGINT},
      </if>
    </set>
    where plan_deliver_requirement_id = #{planDeliverRequirementId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fea.project.model.plan.DeliverRequirementModel">
    update t_project_plan_deliver_requirement
    set plan_deliver_requirement_name = #{planDeliverRequirementName,jdbcType=VARCHAR},
      plan_deliver_requirement_time = #{planDeliverRequirementTime,jdbcType=TIMESTAMP},
      plan_deliver_requirement_desc = #{planDeliverRequirementDesc,jdbcType=VARCHAR},
      plan_deliver_requirement_appendix_id = #{planDeliverRequirementAppendixId,jdbcType=BIGINT},
      plan_id = #{planId,jdbcType=BIGINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_status = #{delStatus,jdbcType=BIGINT}
    where plan_deliver_requirement_id = #{planDeliverRequirementId,jdbcType=BIGINT}
  </update>
  
  <select id="selectByExampleWithDelStatus" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_project_plan_deliver_requirement 
    where del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()} 
    and  plan_id = #{planId,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeyWithDelStatus" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_project_plan_deliver_requirement
    where plan_deliver_requirement_id = #{planDeliverRequirementId,jdbcType=BIGINT} and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
  </select>
  
  <resultMap id="rm" type="com.fea.project.model.plan.vo.DeliverRequirementModelVo">
    <id column="plan_deliver_requirement_id" jdbcType="BIGINT" property="planDeliverRequirementId" />
    <result column="plan_deliver_requirement_name" jdbcType="VARCHAR" property="planDeliverRequirementName" />
    <result column="plan_deliver_requirement_time" jdbcType="TIMESTAMP" property="planDeliverRequirementTime" />
    <result column="plan_deliver_requirement_desc" jdbcType="VARCHAR" property="planDeliverRequirementDesc" />
    <collection property="appendixInfosList" column="plan_deliver_requirement_id"  select="selectAppendixInfos"></collection>
  </resultMap> 
  
    <resultMap id="brm" type="com.fea.project.model.plan.vo.DeliverRequirementModelVo">
    <id column="plan_deliver_requirement_id" jdbcType="BIGINT" property="planDeliverRequirementId" />
    <result column="plan_deliver_requirement_name" jdbcType="VARCHAR" property="planDeliverRequirementName" />
    <result column="plan_deliver_requirement_time" jdbcType="TIMESTAMP" property="planDeliverRequirementTime" />
    <result column="plan_deliver_requirement_desc" jdbcType="VARCHAR" property="planDeliverRequirementDesc" />
    <result column="plan_deliver_requirement_appendix_id" jdbcType="BIGINT" property="planDeliverRequirementAppendixId" />
    <result column="plan_id" jdbcType="BIGINT" property="planId" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_status" jdbcType="BIGINT" property="delStatus" />
     <collection property="appendixInfosList" column="plan_deliver_requirement_id"  select="selectAppendixInfos"></collection>
  </resultMap> 
  <select id="selectAllByPlanIdWithDelStatus" parameterType="com.fea.project.model.plan.vo.PageInfoFromFrontModel" resultMap="brm">
    select 
   *
    from t_project_plan_deliver_requirement
    where del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    and (
	    plan_id = #{businessId,jdbcType=BIGINT} 
	    <if test="planTransferId != null">
	    or plan_id = #{planTransferId,jdbcType=BIGINT} 
	    </if>
	    )
  </select>
  <select id="selectAppendixInfos" parameterType="java.lang.Long" resultType="com.fea.project.model.plan.vo.AppendixInfosVo">
		select DISTINCT
		id  appendixId,
		real_name appendixName
		from 
		t_project_appendix
		where business_id = #{business_appendix_id,jdbcType=BIGINT}
  </select>
  
    <update id="updateByPrimaryKeySelectiveWithDelStatus" parameterType="com.fea.project.model.plan.DeliverRequirementModel">
    update t_project_plan_deliver_requirement
    set del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@DELETE.getStatus()}
    where plan_deliver_requirement_id = #{planDeliverRequirementId,jdbcType=BIGINT}
  </update>
  
    <update id="updateByList">
   	update t_project_plan_deliver_requirement
        	set plan_id = #{businessId,jdbcType=BIGINT}
        	where plan_deliver_requirement_id in 
        	 <foreach collection="list" open="(" close=")" separator="," index="index" item="item">
        	 #{item,jdbcType=BIGINT}
        	 </foreach>
  </update>
  
  
   <update id="updateBusinessIdInTProjectAppendix" parameterType="com.fea.project.model.plan.vo.UpdateBusinessIdInProjectAppendixModelVo">
    update t_project_appendix
    set business_id = #{businessAppendixId,jdbcType=BIGINT} 
    where id = #{appendixId,jdbcType=BIGINT} 
  </update>
  
  <select id="selectDeliverRequirementInfoByPlanId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_project_plan_deliver_requirement
    where plan_id = #{planId,jdbcType=BIGINT} and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
  </select>
  
   <delete id="deleteByBusinessId" parameterType="java.lang.Long">
    delete from t_project_plan_deliver_requirement
    where plan_id = #{businessId,jdbcType=BIGINT}
  </delete>
</mapper>