<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fea.project.api.other.dao.base.SysDepartmentMapper">
    <resultMap id="BaseResultMap" type="com.fea.project.api.other.model.base.SysDepartmentModel">
        <id column="DEP_ID" jdbcType="BIGINT" property="DEPID"/>
        <result column="REG_ID" jdbcType="BIGINT" property="REGID"/>
        <result column="ORG_ID" jdbcType="BIGINT" property="ORGID"/>
        <result column="DEP_NAME" jdbcType="VARCHAR" property="DEPNAME"/>
        <result column="DEP_CODE" jdbcType="VARCHAR" property="DEPCODE"/>
        <result column="EMP_ID" jdbcType="BIGINT" property="EMPID"/>
        <result column="MANAGER" jdbcType="VARCHAR" property="MANAGER"/>
        <result column="ORG_NAME" jdbcType="VARCHAR" property="ORGNAME"/>
        <result column="ORG_CODE" jdbcType="VARCHAR" property="ORGCODE"/>
        <result column="CREATE_USER" jdbcType="VARCHAR" property="CREATEUSER"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="CREATETIME"/>
        <result column="UPDATE_USER" jdbcType="VARCHAR" property="UPDATEUSER"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="UPDATETIME"/>
        <result column="BUILD_DATE" jdbcType="TIMESTAMP" property="BUILDDATE"/>
        <result column="WX_PARENT_ID" jdbcType="BIGINT" property="WXPARENTID"/>
        <result column="WX_DEPART_ID" jdbcType="BIGINT" property="WXDEPARTID"/>
        <result column="STATE" jdbcType="INTEGER" property="STATE"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="DESCRIPTION"/>
        <result column="LFT" jdbcType="INTEGER" property="LFT"/>
        <result column="RGT" jdbcType="INTEGER" property="RGT"/>
        <result column="PRIORITY" jdbcType="INTEGER" property="PRIORITY"/>
        <result column="PARENT_ID" jdbcType="BIGINT" property="PARENTID"/>
        <result column="TOTAL" jdbcType="INTEGER" property="TOTAL"/>
        <result column="DEL_STATE" jdbcType="INTEGER" property="DELSTATE"/>
        <result column="IS_PUB" jdbcType="TINYINT" property="ISPUB"/>
    </resultMap>

    <sql id="Base_Column_List">
        REG_ID, ORG_ID, DEP_NAME, DEP_CODE, EMP_ID, MANAGER, ORG_NAME, ORG_CODE, CREATE_USER, 
        CREATE_TIME, UPDATE_USER, UPDATE_TIME, BUILD_DATE, WX_PARENT_ID, WX_DEPART_ID, STATE, 
        DESCRIPTION, LFT, RGT, PRIORITY, PARENT_ID, TOTAL, DEL_STATE, IS_PUB
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * 
        from t_sys_department
        where DEP_ID = #{DEPID,jdbcType=BIGINT}
    </select>


    <select id="selectByModel" parameterType="com.fea.project.api.other.model.base.SysDepartmentModel"
            resultMap="BaseResultMap">
        select * from t_sys_department where 1 = 1
        <if test="DEP_ID != null">
            and DEP_ID = #{DEPID,jdbcType=BIGINT}
        </if>
        <if test="REGID != null">
            and REG_ID = #{REGID,jdbcType=BIGINT}
        </if>
        <if test="ORGID != null">
            and ORG_ID = #{ORGID,jdbcType=BIGINT}
        </if>
        <if test="DEPNAME != null">
            and DEP_NAME = #{DEPNAME,jdbcType=VARCHAR}
        </if>
        <if test="DEPCODE != null">
            and DEP_CODE = #{DEPCODE,jdbcType=VARCHAR}
        </if>
        <if test="EMPID != null">
            and EMP_ID = #{EMPID,jdbcType=BIGINT}
        </if>
        <if test="MANAGER != null">
            and MANAGER = #{MANAGER,jdbcType=VARCHAR}
        </if>
        <if test="ORGNAME != null">
            and ORG_NAME = #{ORGNAME,jdbcType=VARCHAR}
        </if>
        <if test="ORGCODE != null">
            and ORG_CODE = #{ORGCODE,jdbcType=VARCHAR}
        </if>
        <if test="CREATEUSER != null">
            and CREATE_USER = #{CREATEUSER,jdbcType=VARCHAR}
        </if>
        <if test="CREATETIME != null">
            and CREATE_TIME = #{CREATETIME,jdbcType=TIMESTAMP}
        </if>
        <if test="UPDATEUSER != null">
            and UPDATE_USER = #{UPDATEUSER,jdbcType=VARCHAR}
        </if>
        <if test="UPDATETIME != null">
            and UPDATE_TIME = #{UPDATETIME,jdbcType=TIMESTAMP}
        </if>
        <if test="BUILDDATE != null">
            and BUILD_DATE = #{BUILDDATE,jdbcType=TIMESTAMP}
        </if>
        <if test="WXPARENTID != null">
            and WX_PARENT_ID = #{WXPARENTID,jdbcType=BIGINT}
        </if>
        <if test="WXDEPARTID != null">
            and WX_DEPART_ID = #{WXDEPARTID,jdbcType=BIGINT}
        </if>
        <if test="STATE != null">
            and STATE = #{STATE,jdbcType=INTEGER}
        </if>
        <if test="DESCRIPTION != null">
            and DESCRIPTION = #{DESCRIPTION,jdbcType=VARCHAR}
        </if>
        <if test="LFT != null">
            and LFT = #{LFT,jdbcType=INTEGER}
        </if>
        <if test="RGT != null">
            and RGT = #{RGT,jdbcType=INTEGER}
        </if>
        <if test="PRIORITY != null">
            and PRIORITY = #{PRIORITY,jdbcType=INTEGER}
        </if>
        <if test="PARENTID != null">
            and PARENT_ID = #{PARENTID,jdbcType=BIGINT}
        </if>
        <if test="TOTAL != null">
            and TOTAL = #{TOTAL,jdbcType=INTEGER}
        </if>
        <if test="ISPUB != null">
            and IS_PUB = #{ISPUB,jdbcType=TINYINT}
        </if>
        and DEL_STATE = ${@com.fea.project.api.other.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </select>

    <resultMap id="BaseResultMap_Vo" type="com.fea.project.api.other.model.base.vo.SysDepartmentVo"
               extends="BaseResultMap">
    </resultMap>
    <select id="selectByRegId" resultMap="BaseResultMap_Vo">
        select * from t_sys_department where REG_ID = #{regId, jdbcType=BIGINT}
        and DEL_STATE = 0 and state = 1
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        select *
        from t_sys_department
        where DEP_ID in
        <foreach collection="list" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>

</mapper>