<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fea.project.dao.baseconfig.ProjectBaseSetTaskMapper">
    <resultMap id="BaseResultMap" type="com.fea.project.model.baseconfig.ProjectBaseSetTaskModel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="reg_id" jdbcType="BIGINT" property="regId"/>
        <result column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <result column="dataStr" jdbcType="INTEGER" property="dataStr"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del_status" jdbcType="INTEGER" property="delStatus"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, reg_id, type_id, short_name, dataStr, create_id, create_by, create_time, update_id,
        update_by, update_time, del_status, number
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * 
        from t_project_baseset_task
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_project_baseset_task
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from t_project_baseset_task
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" keyProperty="id" parameterType="com.fea.project.model.baseconfig.ProjectBaseSetTaskModel">
        insert into t_project_baseset_task (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{regId,jdbcType=BIGINT},
        #{typeId,jdbcType=INTEGER},
        #{shortName,jdbcType=VARCHAR},
        #{dataStr,jdbcType=INTEGER},
        #{createId,jdbcType=BIGINT},
        #{createBy,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateId,jdbcType=BIGINT},
        #{updateBy,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP},
        #{delStatus,jdbcType=INTEGER},
        #{number,jdbcType=INTEGER}
        )
    </insert>

    <insert id="insertList" parameterType="java.util.List">
        insert into t_project_baseset_task (
        <include refid="Base_Column_List"/>
        ) values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.id,jdbcType=BIGINT},
            #{item.regId,jdbcType=BIGINT},
            #{item.typeId,jdbcType=INTEGER},
            #{item.shortName,jdbcType=VARCHAR},
            #{item.dataStr,jdbcType=INTEGER},
            #{item.createId,jdbcType=BIGINT},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateId,jdbcType=BIGINT},
            #{item.updateBy,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.delStatus,jdbcType=INTEGER},
            #{item.number,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <select id="selectByModel" parameterType="com.fea.project.model.baseconfig.ProjectBaseSetTaskModel"
            resultMap="BaseResultMap">
        select * from t_project_baseset_task where 1 = 1
        <if test="id != null">
            and id = #{id,jdbcType=BIGINT}
        </if>
        <if test="regId != null">
            and reg_id = #{regId,jdbcType=BIGINT}
        </if>
        <if test="typeId != null">
            and type_id = #{typeId,jdbcType=INTEGER}
        </if>
        <if test="shortName != null">
            and short_name = #{shortName,jdbcType=VARCHAR}
        </if>
        <if test="dataStr != null">
            and dataStr = #{dataStr,jdbcType=INTEGER}
        </if>
        <if test="createId != null">
            and create_id = #{createId,jdbcType=BIGINT}
        </if>
        <if test="createBy != null">
            and create_by = #{createBy,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateId != null">
            and update_id = #{updateId,jdbcType=BIGINT}
        </if>
        <if test="updateBy != null">
            and update_by = #{updateBy,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="number != null">
            and number = #{number,jdbcType=INTEGER}
        </if>
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </select>

    <insert id="insertSelective" keyProperty="id"
            parameterType="com.fea.project.model.baseconfig.ProjectBaseSetTaskModel">
        insert into t_project_baseset_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="regId != null">
                reg_id,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="shortName != null">
                short_name,
            </if>
            <if test="dataStr != null">
                dataStr,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="delStatus != null">
                del_status,
            </if>
            <if test="number != null">
                `number`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="regId != null">
                #{regId,jdbcType=BIGINT},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="shortName != null">
                #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="dataStr != null">
                #{dataStr,jdbcType=INTEGER},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delStatus != null">
                #{delStatus,jdbcType=INTEGER},
            </if>
            <if test="number != null">
                #{number,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="com.fea.project.model.baseconfig.ProjectBaseSetTaskModel">
        update t_project_baseset_task
        <set>
            <if test="regId != null">
                reg_id = #{regId,jdbcType=BIGINT},
            </if>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=INTEGER},
            </if>
            <if test="shortName != null">
                short_name = #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="dataStr != null">
                dataStr = #{dataStr,jdbcType=INTEGER},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                update_id = #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delStatus != null">
                del_status = #{delStatus,jdbcType=INTEGER},
            </if>
            <if test="number != null">
                `number` = #{number,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </update>

    <update id="updateById" parameterType="com.fea.project.model.baseconfig.ProjectBaseSetTaskModel">
        update t_project_baseset_task
        set reg_id = #{regId,jdbcType=BIGINT},
            type_id = #{typeId,jdbcType=INTEGER},
            short_name = #{shortName,jdbcType=VARCHAR},
            dataStr = #{dataStr,jdbcType=INTEGER},
            create_id = #{createId,jdbcType=BIGINT},
            create_by = #{createBy,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_id = #{updateId,jdbcType=BIGINT},
            update_by = #{updateBy,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            del_status = #{delStatus,jdbcType=INTEGER},
            `number` = #{number,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
        and del_status = ${@com.fea.project.enums.base.DeleteStatusEnum@NOT_DELETE.getStatus()}
    </update>

    <delete id="deleteByRegIdAndNotInIds">
        delete from t_project_baseset_task
        where reg_id = #{regId,jdbcType=BIGINT}
        <if test="list.size() != 0">
            and id not in
            <foreach collection="list" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
    </delete>

    <select id="selectByRegIdAndTypeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_project_baseset_task
        where reg_id = #{regId,jdbcType=BIGINT}
        and type_id = #{typeId,jdbcType=INTEGER}
    </select>

</mapper>